.login {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.login form {
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  margin: 12px 0;
}
