.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.username {
  border-bottom: 1px solid var(--gray500);
}

.username:hover {
  background: var(--gray50);
}
