.value {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
}

.eventData {
  color: var(--orange900);
  background-color: var(--orange100);
  font-size: 12px;
  font-weight: 900;
  padding: 2px 8px;
  border-radius: 5px;
  width: fit-content;
}

.goal {
  color: var(--blue900);
  background-color: var(--blue100);
  font-size: 12px;
  font-weight: 900;
  padding: 2px 8px;
  border-radius: 5px;
  width: fit-content;
}
