.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}

.value {
  font-size: var(--font-size-xlarge);
  line-height: 40px;
  min-height: 40px;
  font-weight: 600;
}

.label {
  font-size: var(--font-size-normal);
}
