.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
}

.card {
  justify-self: flex-start;
}

@media only screen and (max-width: 992px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}
