.selected {
  font-weight: bold;
}

.popup {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  min-width: 180px;
}

.menu {
  min-width: 360px;
  max-height: 300px;
}
