# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/prisma/schema.prisma

# production
/build
/public/umami.js
/public/geo
/public/lang
/lang-compiled

# misc
.DS_Store
.idea
*.iml
*.log
/.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development.local
.env.test.local
.env.production.local
