# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store
package-lock.json

# testing
/coverage

# next.js
/.next
/out

# production
/build
/public/script.js
/geo
/dist
/generated
/src/generated

# misc
.DS_Store
.idea
.yarn
*.iml
*.log
.vscode
.tool-versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*
*.env.*

*.dev.yml

