.parameter {
  display: flex;
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.op {
  font-weight: bold;
}

.popup {
  margin-top: -10px;
  margin-left: 30px;
}
