.menu {
  display: flex;
  flex-flow: row wrap;
  min-width: 600px;
  max-width: 100vw;
  padding: 10px;
  background: var(--base50);
  z-index: var(--z-index-popup);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-left: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100% / 3);
  border-radius: 5px;
  padding: 5px 10px;
}

.item:hover {
  background: var(--base75);
  cursor: pointer;
}

.selected {
  font-weight: 700;
  background: var(--blue100);
}

.icon {
  color: var(--primary400);
}
