.layout {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.nav {
  height: 60px;
  width: 100vw;
  grid-column: 1;
  grid-row: 1 / 2;
}

.body {
  grid-column: 1;
  grid-row: 2 / 3;
  min-height: 0;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: calc(100vh - 60px);
}
