.sidenav {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--layer-color-1);
  border-right: 1px solid var(--layer-color-2);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.name {
  font-weight: var(--font-weight-bold);
}

.section {
  padding: var(--spacing-3);
  gap: var(--spacing-9);
}

.title {
  font-weight: var(--font-weight-bold);
}

.items {
  display: grid;
  gap: var(--gap);
}

.item {
  color: var(--font-color-muted) !important;
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.item:hover {
  color: var(--font-color) !important;
  background-color: var(--layer-color-2);
}
