.layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: max-content 1fr;
}

.nav {
  grid-row: 1 / 3;
  height: 100vh;
  position: fixed;
}

.body {
  grid-area: 1 / 2;
  overflow: auto;
}
