.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-small);
  min-height: 100px;
}

.footer a {
  text-decoration: none;
}

.button {
  margin: 0 5px;
}
