.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-small);
  text-align: center;
  margin: 30px 0;
}

.version {
  text-align: right;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .footer .version {
    text-align: center;
  }
}
