.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

.title {
  flex: 1;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  margin-right: 12px;
}

.links {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  font-weight: 600;
}

.links a + a {
  margin-left: 40px;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .header .buttons {
    flex: 1;
  }

  .links {
    order: 2;
    margin: 20px 0;
    min-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }

  .buttons,
  .links {
    display: none;
  }

  .title {
    flex: 1;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
