.navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.burger {
  display: none;
}

.header {
  display: flex;
  min-height: 100px;
  width: 100%;
}

.title {
  font-size: var(--font-size-large);
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.logo {
  margin-right: 12px;
}

.nav {
  display: flex;
  align-items: center;
  font-size: var(--font-size-normal);
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-normal);
  font-weight: 600;
}

.nav a + a {
  margin-left: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .nav {
    font-size: var(--font-size-large);
    justify-content: space-between;
    margin: 20px 0;
  }
  .items {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 15px;
  }

  .title {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .nav {
    font-size: var(--font-size-normal);
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .items {
    display: flex;
    justify-content: unset;
    font-size: var(--font-size-normal);
    font-weight: 600;
  }

  .items > div {
    display: none;
  }

  .header .active {
    display: inherit;
    width: 100%;
  }

  .items a {
    width: 100%;
  }

  .burger {
    display: block;
    background: none;
    border: 1px solid var(--gray900);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
