.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.container .menu {
  padding: 30px 0;
  border: 0;
}

.container .content {
  flex: 1;
  position: relative;
  border-left: 1px solid var(--gray300);
  padding-left: 30px;
  margin-left: 30px;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .container .menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .container .content {
    border-top: 1px solid var(--gray300);
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }
}
