.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.container .menu {
  padding: 30px 0;
  border: 0;
}

.container .content {
  position: relative;
  border-left: 1px solid var(--gray300);
  padding-left: 30px;
}

.option {
  font-size: var(--font-size-normal);
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 30px;
  border-radius: 4px;
}

.option:hover {
  background: var(--gray75);
}

.selected {
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .container {
    height: auto;
  }

  .container .content {
    border-top: 1px solid var(--gray300);
    border-left: 0;
    padding-left: 0;
  }
}
