.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: var(--base75);
  border-bottom: 1px solid var(--base300);
  padding: 0 20px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  min-width: 0;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 40px;
  flex: 1;
  font-weight: 700;
}

.links a {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 60px;
  color: var(--font-color200);
  border-bottom: 2px solid transparent;
}

.links span {
  white-space: nowrap;
}

.links a:hover {
  color: var(--font-color100);
  border-bottom: 2px solid var(--primary400);
}

.links .selected {
  color: var(--font-color100);
  border-bottom: 2px solid var(--primary400);
}

.actions,
.mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .links,
  .actions {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
