.group {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--base500);
}

.group .button {
  border-radius: 0;
  color: var(--base800);
  background: var(--base50);
  border-left: 1px solid var(--base500);
  padding: 4px 8px;
}

.group .button:first-child {
  border: 0;
}

.group .button:hover {
  background: var(--base100);
}

.group .button + .button {
  margin: 0;
}

.group .button.selected {
  color: var(--base900);
  font-weight: 600;
}
