.group {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--gray500);
}

.group .button {
  border-radius: 0;
  color: var(--gray800);
  background: var(--gray50);
  border-left: 1px solid var(--gray500);
  padding: 4px 8px;
}

.group .button:first-child {
  border: 0;
}

.group .button:hover {
  background: var(--gray100);
}

.group .button + .button {
  margin: 0;
}

.group .button.selected {
  color: var(--gray900);
  font-weight: 600;
}
