.wrapper {
  background: var(--gray50);
  margin-right: 10px;
  border-radius: 100%;
}

.dot {
  background: var(--green400);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.dot.small {
  width: 8px;
  height: 8px;
}

.dot.large {
  width: 16px;
  height: 16px;
}
