.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray500);
  border-radius: 4px;
  cursor: pointer;
}

.value {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 4px 16px;
  min-width: 160px;
}

.text {
  flex: 1;
}

.icon {
  padding-left: 20px;
}
