.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  z-index: 1;
  background-color: var(--gray50);
  padding: 10px;
}

.icon {
  margin-right: 10px;
}
