a.link,
a.link:active,
a.link:visited {
  position: relative;
  color: var(--gray900);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

a.link:hover:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--primary400);
  opacity: 0.5;
}

a.link.large {
  font-size: var(--font-size-large);
}

a.link.small {
  font-size: var(--font-size-small);
}

a.link.xsmall {
  font-size: var(--font-size-xsmall);
}

a.link .icon + * {
  margin-left: 10px;
}

a.link.iconRight .icon {
  order: 1;
  margin-left: 10px;
}

a.link.iconRight .icon + * {
  margin: 0;
}
