a.link,
a.link:active,
a.link:visited {
  position: relative;
  color: var(--gray900);
  text-decoration: none;
}

a.link:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--primary400);
  opacity: 0.5;
  transition: width 100ms;
}

a.link:hover:before {
  width: 100%;
  transition: width 100ms;
}
