.menu {
  background: var(--gray50);
  border: 1px solid var(--gray500);
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}

.option {
  font-size: var(--font-size-small);
  font-weight: normal;
  background: var(--gray50);
  padding: 4px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.option:hover {
  background: var(--gray100);
}

.float {
  position: absolute;
  min-width: 100px;
}

.top {
  bottom: 100%;
  margin-bottom: 5px;
}

.bottom {
  top: 100%;
  margin-top: 5px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.divider {
  border-top: 1px solid var(--gray300);
}

.selected {
  font-weight: 600;
}
