.container {
  color: var(--gray500);
  font-size: var(--font-size-normal);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
