.table {
  display: flex;
  flex-direction: column;
}

.table label {
  display: none;
  font-size: var(--font-size-xsmall);
  font-weight: bold;
}

.header {
  border-bottom: 1px solid var(--gray300);
}

.head {
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: 40px;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.row {
  border-bottom: 1px solid var(--gray300);
  padding: 10px 0;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 992px) {
  .table label {
    display: block;
  }

  .header {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .cell {
    margin-bottom: 20px;
  }
}
