.toast {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  color: var(--msgColor);
  background: var(--green400);
  margin: auto;
  z-index: 2;
  cursor: pointer;
}

.message {
  font-size: var(--font-size-normal);
}

.close {
  margin-left: 20px;
}
