.notice {
  position: absolute;
  max-width: 800px;
  gap: 20px;
  margin: 20px auto;
  justify-self: center;
  background: var(--base50);
  padding: 20px;
  border: 1px solid var(--base300);
  border-radius: var(--border-radius);
  z-index: var(--z-index-popup);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color100);
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  flex: 0;
}

@media only screen and (max-width: 992px) {
  .message {
    height: 80px;
  }
}
