.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: var(--font-size-small);
  font-weight: 600;
}

.message {
  text-align: center;
  margin-right: 20px;
}
