.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.username {
  border-bottom: 1px solid var(--gray500);
}

.username:hover {
  background: var(--gray50);
}

.menu {
  z-index: 100;
}
