.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
  line-height: 30px;
  margin: 40px 0;
}

.footer a {
  color: var(--font-color100);
}
