.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--base50);
  position: relative;
  max-width: 1320px;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  padding: 0 20px;
}
