.filter {
  margin-top: 30px;
  min-width: 200px;
  max-width: 100vw;
  padding: 10px;
  background: var(--base50);
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.filter h2 {
  padding-bottom: 20px;
}

.content {
  min-height: 50vh;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
