.menu {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 20px;
}

.content {
  min-height: 50vh;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .content {
    margin-top: 20px;
  }
}
