.container {
  display: flex;
}

.chart {
  margin-bottom: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  background: var(--base50);
  border-bottom: 1px solid var(--base300);
  z-index: var(--z-index-overlay);
  padding: 10px 0;
}
