.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #eaeaea;
}
