.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-normal);
  background: var(--gray100);
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #eaeaea;
}
