.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.icon svg {
  fill: currentColor;
}

.large > svg {
  width: 24px;
  height: 24px;
}

.medium > svg {
  width: 16px;
  height: 16px;
}

.small > svg {
  width: 12px;
  height: 12px;
}
