.chart {
  position: relative;
}

.tooltip {
  pointer-events: none;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 12px;
  font-weight: 600;
}

.metric {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.dot {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  background: #fff;
}

.color {
  width: 10px;
  height: 10px;
}
