.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}

.buttons button + button {
  margin-left: 10px;
}

.button {
  font-size: var(--font-size-xsmall);
  padding: 4px 8px;
}

.active {
  font-weight: 600;
}

@media only screen and (max-width: 720px) {
  .buttons button:last-child {
    display: none;
  }
}
