.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}

.button {
  font-size: 12px;
  background: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background: #eaeaea;
}

.active {
  font-weight: 600;
}
