.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  line-height: 60px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sticky {
  position: fixed;
  top: 0;
  margin: auto;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  z-index: 2;
}
