.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  line-height: 60px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
