.chart {
  margin-bottom: 30px;
}

.expand {
  border-top: 1px solid var(--gray300);
}

.menu {
  font-size: var(--font-size-small);
}

.menu .option {
  font-size: var(--font-size-small);
}

.backButton {
  align-self: flex-start;
  margin-bottom: 16px;
}

.backButton svg {
  transform: rotate(180deg);
}

.row {
  border-top: 1px solid var(--gray300);
  min-height: 430px;
}

.row > [class*='col-'] {
  border-left: 1px solid var(--gray300);
  padding: 0 20px;
}

.row > [class*='col-']:first-child {
  border-left: 0;
  padding-left: 0;
}

.row > [class*='col-']:last-child {
  padding-right: 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 992px) {
  .row {
    border: 0;
  }

  .row > [class*='col-'] {
    border-top: 1px solid var(--gray300);
    border-left: 0;
    padding: 0;
  }
}
