.container {
  background: #fff;
  padding: 0 30px;
}

.website {
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.website:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #2c2c2c !important;
}

.details {
  font-size: 14px;
  font-weight: 600;
}

.details svg {
  margin-right: 5px;
}
