.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 100px;
}

.header {
  display: flex;
  min-height: 70px;
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: var(--base100);
  background: var(--base800);
  z-index: 1;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  cursor: pointer;
  padding: 10px 20px;
  background: var(--base75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-width: 300px;
  min-height: 60px;
}

.item:hover:not(.selected) {
  color: var(--base900);
  background: var(--base100);
}

.selected {
  color: var(--base75);
  background: var(--base900);
  font-weight: 400;
}

.behind {
  color: var(--base400);
}

.ahead {
  color: var(--base400);
}

.current {
  color: var(--base500);
}
