.chart {
  position: relative;
}

.tooltip {
  color: var(--msgColor);
  pointer-events: none;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: var(--font-size-xsmall);
  font-weight: 600;
}

.metric {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: 600;
}

.dot {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  background: var(--gray50);
}

.color {
  width: 10px;
  height: 10px;
}
