.table {
  position: relative;
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.body {
  position: relative;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
}

.title {
  display: flex;
  font-weight: 600;
  font-size: var(--font-size-normal);
}

.metric {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.row {
  position: relative;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  overflow: hidden;
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 2;
}

.label a {
  color: inherit;
  text-decoration: none;
}

.label a:hover {
  color: var(--primary400);
}

.label:empty {
  color: #b3b3b3;
}

.label:empty:before {
  content: 'Unknown';
}

.value {
  width: 50px;
  text-align: right;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
}

.percent {
  position: relative;
  width: 50px;
  color: var(--gray600);
  border-left: 1px solid var(--gray600);
  padding-left: 10px;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  opacity: 0.1;
  background: var(--primary400);
  z-index: -1;
}
