.container {
  position: relative;
  min-height: 430px;
  height: 100%;
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .container {
    min-height: auto;
  }
}
