.table {
  font-size: var(--font-size-xsmall);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  font-weight: 600;
}

.row {
  display: flex;
  border-bottom: 1px solid var(--gray300);
}

.body {
  overflow: auto;
}

.icon {
  align-self: center;
  margin-right: 20px;
}

.website {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail {
  flex: 1;
}

.detail span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
