.table {
  font-size: var(--font-size-small);
}

.row {
  display: flex;
  border-bottom: 1px solid var(--gray300);
}

.body {
  height: 600px;
  overflow: auto;
}

.icon {
  align-self: center;
  margin-right: 20px;
}
