.table {
  font-size: var(--font-size-xsmall);
}

.row {
  display: flex;
  border-bottom: 1px solid var(--gray300);
}

.body {
  height: 600px;
  overflow: auto;
}

.icon {
  align-self: center;
  margin-right: 20px;
}

.website {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail {
  flex: 1;
}

.detail span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
