.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.chart {
  position: relative;
  overflow: hidden;
}

.title {
  font-size: var(--font-size-lg);
  line-height: 60px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  min-height: 90px;
  margin-bottom: 20px;
  background: var(--base50);
  z-index: var(--z-index300);
}

.sticky {
  position: sticky;
  top: -1px;
}

.isSticky {
  border-bottom: 1px solid var(--base300);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
}

.dropdown {
  min-width: 200px;
}
