.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-lg);
  overflow: hidden;
}

.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
