.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.chart {
  position: relative;
}

.title {
  font-size: var(--font-size-large);
  line-height: 60px;
  font-weight: 600;
}

.header {
  min-height: 90px;
}

.metrics {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sticky {
  position: fixed;
  top: 0;
  margin: auto;
  background: var(--gray50);
  border-bottom: 1px solid var(--gray300);
  z-index: 3;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .filter {
    display: block;
  }
}
