.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.chart {
  position: relative;
  padding-bottom: 20px;
}

.title {
  font-size: var(--font-size-lg);
  line-height: 60px;
  font-weight: 600;
}

.header {
  min-height: 90px;
  margin-bottom: 20px;
}

.metrics {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  background: var(--base50);
  border-bottom: 1px solid var(--base300);
  z-index: 3;
  width: inherit;
}

.filter {
  align-self: center;
}
