.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.chart {
  position: relative;
  padding-bottom: 10px;
}

.title {
  font-size: var(--font-size-lg);
  line-height: 60px;
  font-weight: 600;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  margin-bottom: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  background: var(--base50);
  border-bottom: 1px solid var(--base300);
  z-index: 3;
  width: inherit;
  padding-top: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
}

.dropdown {
  min-width: 200px;
}
