.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  min-height: 90px;
  margin-bottom: 20px;
  background: var(--base50);
  z-index: var(--z-index-above);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
