:root {
  --font-family: var(--font-inter), sans-serif;
}

html,
body {
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  color: var(--text-primary);
  background-color: var(--surface-raised);
  width: 100%;
  min-height: 100vh;
}

html[style*="padding-right"] {
  padding-right: 0 !important;
}

a,
a:active,
a:hover {
  color: var(--text-base);
  text-decoration: none;
}
