.popup {
  display: flex;
  max-width: 300px;
  max-height: 400px;
  overflow-x: hidden;
}

.popup > div {
  overflow-y: auto;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  min-width: 180px;
}

.menu {
  min-width: 200px;
}
