.popup {
  display: flex;
  max-width: 300px;
  max-height: 210px;
  overflow: hidden;
}

.popup > div {
  overflow-y: auto;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  min-width: 180px;
}

.text {
  min-width: 180px;
}
