.menu {
  width: 360px;
  max-height: 300px;
  overflow: auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.item:hover {
  background: var(--base75);
}

.type {
  color: var(--font-color300);
}
