.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.item {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--gray300);
}

.item + .item {
  margin-top: 10px;
}

.item h1 {
  font-weight: 600;
  font-size: 16px;
}

.item h2 {
  font-size: 14px;
  color: var(--gray700);
}

.dragActive {
  cursor: grab;
}

.dragActive:active {
  cursor: grabbing;
}
