.website {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray300);
  margin-bottom: 30px;
  align-self: stretch;
}

.website:last-child {
  border-bottom: 0;
  margin-bottom: 20px;
}

.websiteDragActive {
  opacity: 0.6;
  cursor: grab;
}

.websiteDragActive:active {
  cursor: grabbing;
}
