.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 60px;
  margin-bottom: 40px;
}

.table {
  align-self: flex-start;
}

.link:hover {
  cursor: pointer;
  color: var(--primary400);
}

.header {
  margin-bottom: 40px;
}

.title {
  font-weight: bold;
}

.data {
  min-height: 620px;
}
