.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.menu {
  z-index: 100;
}

.text {
  font-size: var(--font-size-small);
}

.open {
  background: var(--gray200);
}

.open:hover {
  background: var(--gray200);
}
