.button {
  position: relative;
}

.username {
  border-bottom: 1px solid var(--base500);
}

.username:hover {
  background: var(--base50);
}

.icon svg {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.menu {
  left: -50%;
  background: var(--base50);
  border: 1px solid var(--base500);
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}
