.col {
  flex: 2;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.detailLink {
  width: 100%;
}

.headerButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
