.search {
  max-width: 300px;
  margin: 20px 0;
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
}

.body td {
  display: flex;
  gap: 10px;
  min-height: 70px;
  align-items: center;
}

.body > div > div > div {
  display: flex;
  gap: 10px;
}

.pager {
  margin: 20px 0;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
