.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  background-color: var(--base50);
  padding: 10px;
  z-index: 1;
}

.icon {
  margin-inline-end: 10px;
}
