.panel {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  height: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
