.label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  color: var(--base500);
  align-self: flex-start;
}

.positive {
  color: var(--success-color);
  background: color-mix(in srgb, var(--success-color), var(--background-color) 85%);
}

.negative {
  color: var(--danger-color);
  background: color-mix(in srgb, var(--danger-color), var(--background-color) 85%);
}

.neutral {
  color: var(--font-color-muted);
  background: var(--base-color-2);
}
