.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-sm);
  border: 1px solid var(--base600);
  border-radius: var(--border-radius);
  line-height: 30px;
  padding: 0 8px;
  cursor: pointer;
}

.tag:hover {
  background: var(--base75);
}
