.card {
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 0 0 1px var(--primary);
}

.card.selected {
  box-shadow: 0 0 0 1px var(--primary);
}

.good .rating {
  color: #0cce6b;
}

.needs-improvement .rating {
  color: #ffa400;
}

.poor .rating {
  color: #ff4e42;
}
