html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header a {
  color: #000;
  text-decoration: none;
}

form label {
  display: inline-block;
  min-width: 100px;
}

form input {
  margin-right: 10px;
}

select {
  padding: 4px 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.row > .col,
.row > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
