.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.calendars {
  display: flex;
  justify-content: center;
}

.calendars > div {
  width: 380px;
}

.calendars > div + div {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--gray300);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .calendars {
    flex-direction: column;
  }

  .calendars > div + div {
    padding: 0;
    margin-left: 0;
    margin-top: 20px;
    border: 0;
  }
}
