.container {
  display: flex;
}

.form {
  border-right: 1px solid var(--gray300);
  width: 420px;
}

.filters {
  padding: 10px 5px;
}

.filters + .filters {
  border-top: 1px solid var(--gray300);
  min-height: 250px;
}

.table {
  padding: 10px;
  min-height: 430px;
  min-width: 400px;
}

.formButtons {
  justify-content: flex-start;
  margin-left: 20px;
}

.dropdown {
  min-height: 39px;
  min-width: 240px;
}

.filterTag {
  flex-wrap: wrap;
  margin: 10px 5px 5px 5px;
}
