.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  margin: 0 auto;
}

.header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
}

.info {
  text-align: center;
  padding: 30px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  text-align: center;
  margin: 30px auto;
}

.footer a {
  font-weight: 600;
}

.buttons {
  justify-content: center;
}

.button {
  flex: 1;
  justify-content: center;
}

.error {
  width: 600px;
  margin: 0 auto 30px;
  background: var(--base50);
  padding: 16px;
  color: var(--red400);
  border: 1px solid var(--red400);
  border-radius: 5px;
  text-align: center;
}

.success {
  width: 600px;
  margin: 60px auto;
  background: var(--base50);
  padding: 16px;
  color: var(--green400);
  border: 1px solid var(--green400);
  border-radius: 5px;
  text-align: center;
}
